@keyframes loading-line {
  0% {
    transform: translateX(-100%);
    width: 10vw;
  }
  100% {
    transform: translateX(500%);
    width: 40vw;
  }
}

@keyframes skeleton-loading {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -180px 0;
  }
}
