.app {
  // TODO: refactor this, these properties should not ideally be on the .app level
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loading:after {
  animation: loading-line 3s ease-in-out infinite;
  border-bottom: 10px solid black;
  content: '';
  height: 10px;
  bottom: 0;
  left: 0;
  position: fixed;
  width: 20vw;
}

.hidden {
  display: none;
}
