.app {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loading:after {
  animation: loading-line 4s ease-in-out infinite;
  border-bottom: 10px solid black;
  content: '';
  height: 10px;
  bottom: 0;
  left: 0;
  position: absolute;
  width: 20vw;
}

.hidden {
  display: none;
}
