.footer {
  background-color: #00233b;
  color: $white;
  height: 100px;
  font-size: 1.25rem;
  display: flex;
  align-self: center;
  justify-content: center;

  .footer-section {
    display: flex;
    align-items: center;
  }

  & a {
    text-decoration: none;
    text-align: center;
    color: $white;
  }

  & a:hover {
    color: $light-grey;
  }
}
