.octicon-icon {
  border-radius: 0.5rem;
  background-color: $white;
  margin: 0.5rem;
  padding: 0.25rem;
  vertical-align: middle;
  height: 1rem;
  width: 1rem;

  &:hover {
    background-color: $light-grey;
  }
}

.collapse-icon {
  width: 32px;
  height: 32px;
  fill: $white;

  &:hover {
    transform: scale(1.1);
  }
}

.collapse-button:disabled {
  cursor: auto;

  .collapse-icon {
    opacity: 0.5;

    &:hover {
      transform: scale(1);
    }
  }
}

.next-icon {
  padding-top: 3px;
  padding-left: 3px;

  & path {
    fill: $dark-blue;
  }
}

.next-button {
  @include next-button;
}

.previous-button {
  transform: rotate(180deg);
  @include next-button;
}
