.tv-show-poster-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: auto;
  height: auto;
}
.tv-show-poster-sm {
  max-width: 200px;
  max-height: 250px;
  margin: 30px;
}
